$lyseblå: rgb(2, 83, 129);
$blå: rgb(2, 39, 55);
$grå: #707070;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    
    h1, h3, input {
        color: rgba($blå, 0.9);
    }
    h2, h4, h5, label, a, textarea, #beskrivelse > p {
        color: $grå;
    }
    button {
        color: white;
    }
    h1 {
        font-size: 7vmin;
    }
    h2 {
        font-size: 5.01vmin;
    }
    h3 {
        font-size: 3.58vmin;
    }
    a, label, h4, button, input, textarea, #beskrivelse > p {
        font-size: 2.3vmin;
    }
    header nav ul li a {
        font-size: 2.57vmin !important;
    }
    h5 {
        padding: auto;
        font-size: auto;
    }
    a {
        text-decoration: none;
    }
    a, label, button, input {
        font-weight: bold;
    }
    textarea, #beskrivelse > p {
        line-height: 4.3vw;
        letter-spacing: 0.25vw;
    }
}
html {
    scroll-behavior: smooth;
    &.hamburger {
        overflow-y: hidden;
        main {
            visibility: hidden;
        }
    }
}

body {
    header {
        z-index: 2;
        #menu > *:not(nav) {
            display: none;
        }
        #menu {
            width: 45%;
            nav {
                width: 100%;
            }
        }
        a {
            transition: all 200ms ease;
            width: 100%;
            text-align: center;
            justify-content: center !important;
            &:hover {
                transform: scale(1.1);
            }
        }
        &, * {
            height: 8vh;
        }
        width: 100%;
        position: sticky !important;
        top: 0;
        left: 0;
        border-bottom: 1px solid $grå;
        background-color: white;
        div, nav {
            margin: 0 8% 0 8%;
        }
        #logo {
            width: 10%;
        }
        li  {
            width: 100%;
            list-style: none;
        }
        &, ul, div, a {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    main {
        background-image: url("media/skyer-web.svg");
        background-repeat: no-repeat;
        background-size: 200vh;
        background-position: 40% 95%;
        display: grid;
        grid-template-areas:
        ". tjeneste    tjeneste  ."
        ". om          om        ."
        ". beskrivelse medlemmer ."
        ". kontakt     medlemmer .";
        grid-template-columns: 10vw 40vw 40vw 10vw;
        grid-template-rows: 92vh 35vh 65vh 96vh;
        #tjeneste {
            grid-area: tjeneste;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-align: center;
            vertical-align: middle;
            * {
                width: 100%;
            }
            img {
                height: 50vh;
            }
        }
        #om {
            grid-area: om;
            padding: 10vh 0 10vh 0;
        }
        #beskrivelse {
            grid-area: beskrivelse;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        #om, #kontakt h1 {
            align-self: center;
            text-align: center;
        }
        #beskrivelse, #skjema textarea {
            z-index: 1;
            background: white;
            padding: 30px;
            border: 4px solid rgba($lyseblå, 0.75);
            border-radius: 25px;
            transition: all 200ms ease;
            &:not(#beskrivelse):focus, &:not(#beskrivelse):valid {
                border-color: $lyseblå;
            }
        }
        #medlemmer {
            grid-area: medlemmer;
            overflow: hidden;
            margin-left: 11vw;
            h4 {
                margin-top: 3vh;
                &:not(:last-child) {
                    margin-bottom: 13.9vh;
                }
            }
        }
        #kontakt {
            grid-area: kontakt;
            h1 {
                margin: 10vh 0 10vh 0;
            }
            #skjema {
                height: 60.5vh;
                position: relative;
                #melding textarea {
                    margin-top: 5vh;
                    width: 100%;
                    resize: none;
                    height: 45vh;
                }
                input, textarea, button {
                    outline: none;
                }
                span {
                    position: absolute;
                    left: 0;
                    margin: 7px 0 0 11px;
                }
                #email {
                    margin-top: 4.9vh;
                    width: 80%;
                    input {
                        height: 5vh;
                        margin: 0 2% 0 70px;
                        width: 21vw;
                        border: none;
                    }
                    label::after {
                        content: "";
                        position: absolute;
                        width: 75%;
                        bottom: 0;
                        left: 0;
                        border: 2px solid $lyseblå;
                        opacity: 0.75;
                        border-radius: 4px 4px 0 0;
                        transition: all 200ms ease;
                    }
                    input:focus + label::after, input:valid + label::after {
                        opacity: 1;
                    }
                }
                #send {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    button {
                        background-color: $lyseblå;
                        opacity: 0.75;
                        transition: opacity 200ms ease;
                        cursor: pointer;
                        &:hover {
                            opacity: 1;
                        }
                        height: 5vh;
                        width: 9vw;
                        border: none;
                        border-radius: 25px 250px 25px 250px;
                    }
                }
            }
        }
    }
    footer {
        h5 {
            transition: all 200ms ease;
            &:hover {
                color: $blå;
            }
        }
        height: 4vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid $grå;
    }
}

@media only screen and (min-width: 880px) {
    body header nav ul li a {
        font-size: 2.5vh !important;
    }
}
@media only screen and (min-width: 780px) and (max-width: 880px) {
    h3 {
        font-size: 22px;
    }
    h4 {
        margin-top: 3.55vh !important;
    }
}
@media only screen and (max-width: 780px) {
    h3 {
        font-size: 18px;
    }
    h4 {
        margin-top: 2.78vh !important;
    }
    a, label, h4, button, input {
        font-size: 15px;
    }
    textarea, #beskrivelse > p {
        font-size: 2.5vw;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
}
@media only screen and (min-width: 640px) and (max-width: 740px) {
    html body header #menu {
        width: 50%;
    }
    #email label span {
        transform: translateY(-180%) !important;
    }
    #email label::after {
        width: 180% !important;
    }
    #email input {
        width: 190% !important;
    }
    #send > button {
        transform: translateX(460%) !important;
    }
}
@media only screen and (max-width: 640px) {
    body {
        header {
            #menu {
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
                &, input {
                    height: 100%;
                    width: 7vh;
                }
                input {
                    display: block;
                    position: absolute;
                    cursor: pointer;
                    opacity: 0;
                    z-index: 3;
                    &:checked ~ span:nth-of-type(1) {
                        transform: rotate(45deg) scale(1.03);
                    }
                    &:checked ~ span:nth-of-type(2) {
                        opacity: 0;
                        transform: scale(0.03, 0.03) translateX(-100%);
                    }
                    &:checked ~ span:nth-of-type(3) {
                        transform: rotate(-45deg) scale(1.03);
                    }
                    &:checked ~ nav {
                        &, ul {
                            visibility: visible;
                            pointer-events: all;
                            opacity: 1;
                        }
                    }
                }
                span {
                    display: block;
                    position: relative;
                    height: 4px;
                    width: calc(12*3px);
                    background-color: $grå;
                    border-radius: 3px;
                    margin: 4px 0 4px 0;
                    transition: transform 300ms ease,
                                opacity 300ms ease;
                    &:nth-of-type(1) {
                        transform-origin: 4px 8px;
                    }
                    &:nth-of-type(3) {
                        transform-origin: 4px -4px;
                    }
                }
                
            }
            nav {
                &, ul {
                    display: flex;
                    visibility: none;
                    pointer-events: none;
                    opacity: 0;
                    transition: opacity 300ms ease;
                    position: fixed;
                    margin: 0;
                    left: 0;
                    top: 8vh;
                    height: 100%;
                    width: 100vw;
                    background-color: white;
                }
                ul {
                    background-image: url("media/skyer-mobil.svg");
                    background-repeat: no-repeat;
                    background-size: 60vh;
                    background-position: 10% -11%;
                    flex-direction: column;
                    justify-content: space-evenly;
                    a {
                        font-size: 25px !important;
                    }
                }
            }
        }
        main {
            background-image: url("media/skyer-mobil.svg");
            background-repeat: no-repeat;
            background-size: 53.25vh;
            background-position: 10% 980%;
            grid-template-areas:
            ". tjeneste     ."
            ". om           ."
            ". beskrivelse  ."
            ". medlemmer    ."
            ". kontakt      .";
            grid-template-columns: 10vw 80vw 10vw;
            grid-template-rows: 92vh 20vh 40vh 40vh 96vh;
            #tjeneste {
                grid-area: tjeneste;
                img {
                    height: 40vh;
                }
            }
            #om {
                grid-area: om;
            }
            #medlemmer {
                grid-area: medlemmer;
            }
            #kontakt {
                grid-area: kontakt;
            }
            #beskrivelse {
                grid-area: beskrivelse;
                margin-bottom: 5vh;
                padding: 5vh;
            }
            #beskrivelse, #skjema textarea {
                border: 3px solid rgba($lyseblå, 0.75) !important;
            }
            #email label::after {
                border-width: 1.5px !important;
            }
            #email input {
                width: 60% !important;
            }
            aside#medlemmer {
                z-index: 1 !important;
                width: 100%;
                margin: 0 0 5vh 0;
                display: flex !important;
                flex-wrap: wrap !important;
                flex-direction: column;
                padding: 4vh;
                justify-content: center !important;
                border: 3px solid rgba($lyseblå, 0.75);
                border-radius: 25px;
                background: white;
                position: relative;
                z-index: -1;
                h3, h4 {
                    width: 50%;
                    height: 20%;
                    margin-top: -10px;
                }
                h3 {
                    flex-basis: 18%;
                    font-size: 2.8vw;
                }
                h4 {
                    font-size: 2.6vw;
                    transform: translateY(-10px);
                }
                :nth-last-child(-n+2) {
                    position: absolute !important;
                    bottom: 0 !important;
                    left: 50%;
                    width: 100%;
                    text-align: center;
                    transform: translateX(-50%);
                    &:not(h3) {
                        bottom: -10% !important;
                    }
                }
            } 
            aside#medlemmer > h4 {
                margin: 0 !important;
            }
            h1 {
                font-size: 7.5vw !important;
            }
            h2 {
                font-size: 7vw;
            }
            #send button {
                width: 200% !important;
                transform: translateX(-50%);
            }
        } 
    }  
}